<h1>Hello, <%=@user.name%>!</h1>

<h2>Your Account Details:</h2>

<table id="table">
  <tr>
    <th>Name</th>
    <th>email</th>
  </tr>
  <tr>
    <td><%=@user.name%></td>
    <td><%=@user.email%></td>
  </tr>
</table>

<p><a href="#" id="js-list-expenses" data-userId="<%=@user.id=%>">List Your Expenses Here!</a></p>

<div id="js-user-show-expenses">
</div>
