<h1>Welcome to the Envelope Method Budget App! </h1>

<h3>  <%=link_to "Login!", login_path %></h3>
<h3> <%=link_to "Sign up!", new_user_path %> </h3><br>

<h3> <%=link_to "Login with Facebook", '/auth/facebook' %> </h3><br>
