<h1>Expenses for <%=@user.name%></h1>

<table id="table">
  <tr>
    <%=expense_detail_table_header%>
  </tr>

  <% @expenses.each do |expense| %>
    <tr>
    <%=expense_detail_table_row(@user, expense)%>
    </tr>
  <%end%>

</table>
