<h1>Expense Details</h1>

<p><a href="#" id="js-next-expense" data-id="<%=@expense.id%>" data-userId="<%=@user.id%>">Next Expense</a></p>

<table id="table">
  <tr>
    <%=expense_detail_table_header%>
  </tr>
    <%=expense_detail_table_row(@user, @expense)%>
</table>
