<h1>Expense Statisitcs for <%=@user.name%></h1>

<h2>Coming Soon!</h2>
<table id="table">
  <tr>
    <th>Statistic</th>
    <th>Value</th>
    <th>Value</th>
  </tr>

  <tr>
    <th>Largest Expense</th>
    <td>Fake Payee</td>
    <td>Fake $$</td>
  </tr>

  <tr>
    <th>Largest Category</th>
    <td>Fake Category</td>
    <td>Fake $$</td>
  </tr>

  <tr>
    <th>Total For:</th>
    <td>Today</td>
    <td>Fake $$</td>
  </tr>

  <tr>
    <th>Total For:</th>
    <td>This Month</td>
    <td>Fake $$</td>
  </tr>

</table>
